/*--azzerati margin,padding,box-sizing--*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.debug{
        
}


/*--container header--*/
.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    background-color: orange;

}

.logo{
    background-color: blueviolet;
}
/*-- banner e testo banner*/



/*-- container--*/





/*-- end container--*/